
.navbar {
    background: linear-gradient(to right, #323f58, #000000, #4a5568); 
 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 0.5rem 1rem; /* py-2 px-4 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  
  .navbar-links {
    display: flex;
    gap: 1rem; 
  }
  
  .nav-link {
    color: #ffffff; 
    padding: 0.5rem 0.75rem; 
    border-radius: 0.375rem; 
    text-decoration: none;
    font-size: 1rem; 
    font-weight: 500; 
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .nav-link:hover {
    color: #f7fafc; 
  }
  
  .active-link {
    text-decoration: underline;
  }
  