

.gradient-bg .min-h-screen {
  background: linear-gradient(to right, #0a0f14, #1c2833, #34495e);
  background-size: 200% 200%;
  animation: gradientMove 15s ease-in-out infinite;
  transition: background-position 1s ease;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
    
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;

  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}






@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px #22c55e, 0 0 20px #22c55e;
  }
  50% {
    box-shadow: 0 0 15px #34d399, 0 0 30px #34d399;
  }
}

.animate-fade-in {
  animation: fadeIn 0.7s ease-out forwards;
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}

.animate-scale-in {
  animation: scaleIn 0.5s ease-out forwards;
}

.animate-bounce-in {
  animation: bounceIn 1s ease-out forwards;
}

.animate-glow {
  animation: glow 1.5s infinite;
}

.nav-link:hover {
  transform: scale(1.1) rotate(1deg);
  color: #22c55e; /* Highlight Green */
  transition: transform 0.3s, color 0.3s, text-shadow 0.3s;
  text-shadow: 0 0 5px #22c55e, 0 0 10px #34d399;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #22c55e;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.mobile-menu {
  animation: fadeIn 0.5s ease-in-out;
}

.hamburger-icon {
  animation: bounceIn 1s ease-out;
}

.hamburger-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}
