<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-links">
        <a routerLink="/" class="nav-link" (click)="setActiveLink($event)">Home</a>
        <a (click)="scrollToElement('skills', $event)" class="nav-link">Skills</a>
        <a (click)="scrollToElement('about', $event)" class="nav-link">About</a>
        <!-- <a (click)="scrollToElement('projects', $event)" class="nav-link">Projects</a> -->
        <a routerLink="/resume-view" class="nav-link" (click)="setActiveLink($event)" >Resume</a>
        <a (click)="scrollToElement('contact-me', $event)" class="nav-link">Contact Me</a>
        <a routerLink="/developer-mode" class="nav-link" (click)="setActiveLink($event)" >Developer Mode</a>
      </div>
    </div>
  </nav>
  
  
  <app-profile id="profile"></app-profile>
  <app-about id="about"></app-about>
  <app-experience id="experience"></app-experience>
  <!-- <app-projects id="projects"></app-projects> -->
  <app-skills id="skills"></app-skills>
  <app-contact id="contacts"></app-contact>
  <app-contact-me id="contact-me"></app-contact-me>

  