<div class="text-white shadow-lg border-1 border-blue-600 rounded-xl p-6 mb-4 transition-transform transform hover:scale-105 max-w-4xl mx-auto animated-border">
  <h2 class="text-3xl font-extrabold mb-6 text-blue-600 text-center">ABOUT ME</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex justify-center items-center">
      <img src="../../../assets/453235651_1626461934808205_5193711099062310842_n.jpg" 
           alt="Profile Picture" 
           class="rounded-lg shadow-xl w-4/5 sm:w-3/4 md:w-2/3 transform transition-transform hover:scale-105">
    </div>
    <div class="flex flex-col justify-center space-y-4">
      <p class="text-lg leading-relaxed text-gray-300">{{ profile }}</p>
    </div>
  </div>
</div>
