<nav class="bg-gradient-to-r from-blue-900 via-black to-gray-900 fixed top-0 left-0 right-0 z-50">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <!-- Navigation links -->
          <div class="flex space-x-4">
            <a routerLink="/" (click)="scrollToElement('home')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
            <a routerLink="/skills" (click)="scrollToElement('skills')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Skills</a>
            <a routerLink="/about" (click)="scrollToElement('about')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
            <a routerLink="/experience" (click)="scrollToElement('experience')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Experience</a>
            <a routerLink="/contacts" (click)="scrollToElement('contact')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact</a>
            <a routerLink="/education" (click)="scrollToElement('education')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Education</a>
            <a routerLink="/contact-me" (click)="scrollToElement('contact-me')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact Me</a>
            <a routerLink="/landing" (click)="scrollToElement('landing')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Landing</a>
            <a routerLink="/developer-mode" (click)="scrollToElement('developer-mode')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Developer Mode</a>
            <a routerLink="/portfolio" (click)="scrollToElement('portfolio')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Portfolio</a>
            <a routerLink="/terminal" (click)="scrollToElement('terminal')"
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Terminal</a>
            <!-- Add more links as needed -->
          </div>
        </div>
      </div>
    </div>
  </nav>
  