<section class="tutoring-experience">
    <h2>Tutoring Experience</h2>
    <ul>
      <li>
        <p>MAM1012S Tutor at University of Cape Town (Part-time, Jul 2023 - Nov 2023)</p>
        <ul>
          <li>Conducted tutorials for MAM1012S course.</li>
          <li>Assisted students with understanding complex mathematical concepts.</li>
          <li>Provided guidance and support for assignments and exams.</li>
        </ul>
      </li>
      <li>
        <p>MAM1008S Tutor at University of Cape Town (Jun 2022 - Nov 2023)</p>
        <ul>
          <li>Conducted tutorials for MAM1008S course.</li>
          <li>Facilitated discussions and problem-solving sessions.</li>
          <li>Assisted students in grasping fundamental mathematical principles.</li>
        </ul>
      </li>
    </ul>
  </section>
  