

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

.min-h-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1a237e, #000000, #616161);
}

.card {
  background-color: #1f2937; /* Same as other cards */
  color: #ffffff;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
}

.btn-primary {
  background-color: #3b82f6; /* Blue-500 */
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #2563eb; /* Blue-600 */
  transform: translateY(-2px);
}

@media (min-width: 640px) {
  .card {
    padding: 40px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-in-out;
}

.animate-bounce-in {
  animation: bounceIn 2s ease-in-out infinite;
}
