<div class="min-h-screen bg-gradient-to-r from-blue-900 via-black to-gray-900 p-4 flex flex-col items-center">
    <div class="w-full flex justify-between items-center mb-4 bg-gray-800 p-4 rounded">
      <span class="text-white text-xl font-bold">Resume</span>
      <div class="flex space-x-2">
        <button (click)="zoomIn()" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700">
          Zoom In
        </button>
        <button (click)="zoomOut()" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700">
          Zoom Out
        </button>
        <button (click)="downloadResume()" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700">
          Download
        </button>
        <button (click)="goBack()" class="bg-red-500 text-white p-2 rounded hover:bg-red-700">
          Exit
        </button>
      </div>
    </div>
    <div class="max-w-7xl w-full flex-grow flex justify-center">
      <pdf-viewer [src]="pdfSrc" [zoom]="zoom" style="display: block;" class="w-full"></pdf-viewer>
    </div>
  </div>
  