<div class="max-w-lg mx-auto p-8 bg-gray-900 text-white shadow-2xl lg:w-auto rounded-xl transition-transform transform hover:scale-105">
  <h2 class="text-4xl font-extrabold mb-6 text-center text-blue-500">Contact Me</h2>
  <form #contactForm="ngForm" action="https://formspree.io/f/xdknopkz" method="POST" (ngSubmit)="submitForm(contactForm)">
    <div class="form-control mb-6">
      <label class="label" for="name">
        <span class="label-text text-gray-400">Name</span>
      </label>
      <input type="text" class="input input-bordered w-full bg-gray-800 text-white placeholder-gray-400 focus:ring-2 focus:ring-blue-500 transition-all duration-200" name="name" ngModel required placeholder="Your Name">
    </div>
    <div class="form-control mb-6">
      <label class="label" for="email">
        <span class="label-text text-gray-400">Email</span>
      </label>
      <input type="email" class="input input-bordered w-full bg-gray-800 text-white placeholder-gray-400 focus:ring-2 focus:ring-blue-500 transition-all duration-200" name="email" ngModel required placeholder="Your Email">
    </div>
    <div class="form-control mb-6">
      <label class="label" for="message">
        <span class="label-text text-gray-400">Message</span>
      </label>
      <textarea class="textarea textarea-bordered w-full bg-gray-800 text-white placeholder-gray-400 focus:ring-2 focus:ring-blue-500 transition-all duration-200" name="message" ngModel required placeholder="Your Message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary w-full bg-blue-600 hover:bg-blue-500 text-white rounded-lg p-3 shadow-lg transform transition-all duration-300 flex items-center justify-center">
      <svg class="w-6 h-6 text-white inline-block mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1M2 5h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
      </svg>
      Send Message
    </button>
  </form>
</div>

<div id="modal" class="fixed inset-0 bg-gray-900 bg-opacity-70 flex items-center justify-center transition-opacity duration-300" [ngClass]="{ 'hidden': !showModal }">
  <div class="bg-gray-800 text-white p-6 rounded-lg shadow-2xl max-w-md w-full transition-transform transform scale-95 hover:scale-100">
    <h2 class="text-3xl font-bold mb-4 text-center text-blue-500">Message Sent!</h2>
    <p class="text-center">Your message has been successfully sent.</p>
    <button class="btn btn-primary mt-4 bg-blue-600 hover:bg-blue-500 text-white rounded-lg p-2 w-full" (click)="closeModal()">Close</button>
  </div>
</div>
