/* Keyframes for fade-in animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Custom fade-in animation class */
.animate-fadeIn {
  animation: fadeIn 1s forwards;
}

/* Delay for each element's appearance */
.text-center lg\:text-left {
  animation: fadeIn 1s forwards;
}

.text-center lg\:text-left:nth-child(1) {
  animation-delay: 1s;
}

.text-center lg\:text-left:nth-child(2) {
  animation-delay: 1.5s;
}

/* Hover effect for profile image */
.profile-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Ensure that the image fades in */
img {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 2s;
}
.rotating-border-container {
  display: inline-block;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: rotate-border 5s linear infinite;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  display: block;
  border-radius: 50%;
  /* Ensure the image is not affected by the rotation */
  transform: rotate(0deg);
}

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
  }
  50% {
    border-color: #3490dc;
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent;
  }
}
