<div class="max-w-7xl mx-auto px-6 py-12">
  <div class="profile-container text-white p-8 flex flex-col lg:flex-row gap-8 items-center">
    
    <!-- Profile Text -->
    <div class="text-center lg:text-left">
      <h2 class="font-semibold text-3xl mb-2 text-gray-100 hover:text-indigo-500 transition-all duration-300">Hello, I'm <span class="text-indigo-500">{{ profile.name }}</span></h2>
      <h3 class="text-lg text-gray-300 mb-4">{{ profile.title }}</h3>
      <p class="text-gray-200 text-base leading-relaxed hover:text-gray-50">Crafting meaningful designs that drive innovation and creativity. Passionate about making technology simple and beautiful.</p>
    </div>

    <!-- Profile Image -->
    <div class="rotating-border-container">
      <img src="../../../assets/DSC_5896-min.png" alt="Profile Image" class="profile-image w-72 h-72 rounded-full">
      <div class="particle p1"></div>
      <div class="particle p2"></div>
      <div class="particle p3"></div>
      <div class="particle p4"></div>
    </div>


  
  </div>
</div>
