
  <div class="mb-2">
    <h2 class="card-title font-bold text-2xl mb-4 text-center text-white ">Skills</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let skill of skills" class="card bg-gray-800 text-white shadow-xl border border-gray-700 rounded-xl p-4">
        <div class="card-body flex items-center justify-center">
          <img class="h-20 w-20 object-contain mx-auto transition-transform duration-300 transform hover:scale-110" [src]="skill" [alt]="skill"> 
        </div>
      </div>
    </div>
  </div>

