@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.btn{
  border: 2px solid white;
  position: relative;
  


  
}
.terminal, .result-container {
 
 
  box-shadow:
    -18px -10px 20px #0c0c0c80,     
    0 20px 40px rgba(0, 0, 0, 0.6);  
   
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.terminal:hover  {
  transform: translateY(-10px);
  
  box-shadow:
    -20px -12px 25px #0c0c0c99,
    0 25px 60px rgba(0, 0, 0, 0.7);
}
.result-container:hover{

  transform: translateY(10px);
  transform: translate3d(10px, 10px, 60px);
  
  box-shadow:
    -20px -12px 25px #0c0c0c99,
    0 25px 60px rgba(0, 0, 0, 0.7);

}
.frame{

  border: white solid 2px ;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  display:  flex;
  flex-direction: column

}