body{

 background: linear-gradient(135deg, #1e3a8a, #000000, #111827);;
}
  

.main-content {
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--shadow);
    background-color: var(--nav-bg);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  section:hover {
    transform: translateY(-10px);
    background-color: var(--hover-bg);
  }
  
  @media (max-width: 768px) {
  
  
    .main-content {
      padding-top: 5rem;
    }
  
    section {
      max-width: 100%;
      padding: 1rem;
    }
  }
  
  
  @media (min-width: 1024px) {
  
    .main-content {
      padding: 7rem 2rem 2rem;
    }
  
    section {
      margin: 3rem auto;
    }
  }
  