*{

    gap:1rem
}

.min-h-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.terminal-content {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.terminal {
  background: #2d3748;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.output {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  background: #4a5568;
  color: white;
  border: none;
  border-bottom: 1px solid #2d3748;
  outline: none;
}

.input::placeholder {
  color: gray;
}

.input:focus {
  border-color: white;
}
