<div class="min-h-screen bg-gradient-to-r from-blue-900 via-black to-gray-900 p-6 flex flex-col items-center justify-center">
    <div class="terminal bg-gray-800 text-white shadow-xl p-6 w-full max-w-md">
      <div class="output mb-4 h-48 w-full overflow-y-auto">
        <p *ngFor="let line of output" class="text-green-300">{{ line }}</p>
      </div>
      <div class="flex items-center">
        <span class="text-green-300">$</span>
        <input type="text" [(ngModel)]="command" (keydown.enter)="executeCommand()" placeholder="Enter command..." class="ml-2 flex-1 bg-transparent text-white outline-none">
      </div>
    </div>
</div>
    
    
<app-profile id="profile"></app-profile>
<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-contact id="contacts"></app-contact>
<app-contact-me id="contact-me"></app-contact-me>
 
  